:root {
    --white: #fff;
    --black: #1a1a1a;
    --red: #B61D37;
}
html,
body{
    background: #1a1a1a;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
    scroll-behavior: smooth;
}
section{
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
}
a:hover{
    color: var(--white);
    text-decoration: none;
}
ul{
    list-style: none;
}
.full-view{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fs-0{
    font-size: 4.5rem;
}

#whatsapp {
    position: fixed;
    z-index: 1000;
    right: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
    background-color: var(--black);
    color: #fff !important;
    text-align: center;
    border-radius: 50%;
    font-size: 40px;
    line-height: 1.5;
}

/* NAVBAR */
header{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    position: fixed;
    z-index: 3;
    
}
header.sticky{
    z-index: 100;
    padding: 5px 100px;
    background: linear-gradient(110.08deg, rgba(14,31,64,1) 0%, rgba(226,28,52,1) 100%);
}
header .logo{
    position: relative;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
header ul li{
    position: relative;
}
header ul li a{
    position: relative;
    margin: 0 40px;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    transition: 0.6s;
    font-size: 1.5vw;
}
header.sticky .logo,
header.sticky ul li a{
    color: #fff;
}
header .logo{
    position: relative;
    max-width: 13vw;
}
.mt-6{margin-top: 6rem;}
.mb-6{margin-bottom: 6rem;}
.my-6{
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.btn-p401{
    font-size: 1.7vw;
    border: 2px solid var(--white);
    background-color: transparent;
    color: var(--white);
    padding: 1.1vh 4vw;
    cursor: pointer;
    transition: 0.2s;
}
.btn-p401:hover{
    background-color: var(--white);
    color: var(--black);
    transition: 0.2s;
}
.content .textBox img{
    width: 1.5vw;
    margin-left: 2vw;
}
.bg-gradiant{
    background: linear-gradient(110.08deg, rgba(14,31,64,1) 0%, rgba(226,28,52,1) 100%);
}
.title401{
    color: var(--white);
    font-weight: 200;
    font-size: 7vh;
}
.decoration2 {
    width: 0.8rem;
    margin-left: 0.6rem;
}

/*SLIDER*/
.content .imgBox {
    width: 60vw;
    display: flex;
    justify-content: flex-end;
}
.content .imgBox img {
    max-width: 50vw;
}

.shadow-3 {
    box-shadow: 0 1px 8px #fff3,0 3px 4px #ffffff24,0 3px 3px -2px #ffffff1f;
}

iframe{
    width: 100% !important;
}

/*CONFIAR EN NOSOTROS*/
.icon{
    width: 6vw;
}
.icon2{
    width: 4vw;
}

.circle{
    height: 12.5vw;
    width: 12.5vw;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.circle-title{
    color:var(--white);
    font-weight: 500;
    font-size: 1.5rem;
}
.white-text{
    color:var(--white);
    font-weight: 400;
    font-size: 2vh;
}
.text-white-bold{
    color: var(--white);
    font-weight: 600;
    font-size: 4vh;
}
.text-white{
    font-weight: 200;
    font-size: 2.5vh;
}

/*SERVICIOS*/
.cuadro401{
    float:right;
    width: 50px;
    height: 50px;
    background: #B61D37;
}
.contenido401{
    padding: 2.5rem;
}
.card-body{
    padding: 0rem;
}
.card-text{
    font-weight: 400;
}

/*CLIENTES*/

.red-shadow{
    border: 1px solid;
    box-shadow: 0.8rem 0.8rem #B61D37;
}
.card401{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imginbox401{
    max-width: 100%;
    max-height: 100%;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}

.texto-container{
    margin: auto;
    height: auto;
    
}

/* PORTAFOLIO */
.portafolio{
    position: relative;
}
.portafolio img{
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    opacity: 1;
    transition: .5s ease;
    background: linear-gradient(111.84deg, #0E1F40 0.04%, #E21C34 99.43%);
    mix-blend-mode: multiply;
}

.archive-element{
    height:650px;
    opacity: 0.7;
    transition: 0.2s;
}

.archive-element:hover{
    transition: 0.3s;
    opacity: 1;
}

#col-videos iframe{
    width: 100% !important;
    height: 500px !important;
    margin-bottom: 30px;
}

.fondo-oscuro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    transition: 0.2s;
}

.thumbnail-element:hover .dark-overlay{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay-team {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0.6;
    transition: .5s ease;
    background: linear-gradient(110.08deg, rgba(14,31,64,1) 0%, rgba(226,28,52,0.9) 100%);
}
.overlay-team:hover {
    opacity: 0;
    transition: .5s ease;
}
  
.portafolio:hover .overlay {
    opacity: 1;
}
  

/* FORMULARIO */

ul{
    padding: 0%;
}

.sci{
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li a{
    margin-left: 15px;
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.form-control{
    margin-bottom: 1rem;
}
.form-text{
    font-weight: 600;
    font-size: 6vh;
    color: var(--white); 
}
.desaparecer{
    display: block;
}

/* FOOTER */
footer .logo{
    height: 70px;
}

footer .text-white{
    font-size: 1.5rem;
}

footer p{
    color: #fff;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-bold{
    font-weight: 600;
    font-size: 1.3rem;
}



/*PRODUCTS SLIDER*/
.box{
	overflow: hidden;
}
.slide-img{
	height: 73vh;
	position:relative;
}
.slide-img img{
	width:100%;
	height: 100%;
	object-fit: cover;
} 
.detail-box{
	width: 100%;
    display:flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
}
.black-ball{
    height: 4rem;
    width: 4rem;
    background-color: #1a1a1a;
    border-radius: 50%;
    margin: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.black-ball img{
    max-width: 55%;
    height: auto;
}
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.b-titulo2{
    font-size: 1rem;
    color: #937b6f; 
}
.cards-wrapper {
    display: flex;
    justify-content: center;
}
.card img {
    max-width: 100%;
    max-height: 100%;
}
.card {
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    color:var(--black);
}
.carousel-control-prev,
.carousel-control-next {
    background-color: #2e2e2e;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
/* 404 */
.container-404{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-404{
    width: 58vw;
}
.text-404{
    color: var(--white);
    font-weight: 300;
    font-size: 7vh;
}
.button-404{
    margin-top: 4.1vh;
    border: 2px solid var(--white);
    background-color: transparent;
    color: var(--white);
    padding: 1.1vh 4vw;
    font-size: 3.8vh;
    cursor: pointer;
    border-radius: 0;
}
.button-404:hover{
    background-color: var(--white);
    color: var(--black);
    transition: 0.2s ease-in-out;
}
.esf-insta-follow-btn{
    border: 2px solid var(--white) !important;
    background-color: transparent !important;
    color: var(--white) !important;
    font-size: 1rem !important;
    cursor: pointer !important;
    border-radius: 0 !important;
    transition: 0.2s;
}
.esf-insta-follow-btn:hover{
    background-color: var(--white)!important;
    color: var(--black)!important;
    transition: 0.2s;
}

.pagination{
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a {
    color: white !important;
}
.pagination span {
    color: #fff;
    background-color: var(--red);
    border-radius: 15px;
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
    padding-top: 0.3rem !important;
}


@media (max-width: 1024px){
    /* MENU */

    .menu-btn{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        z-index: 10000;
    }
    .menu-btn-burger{
        width: 70px;
        height: 6px;
        background: var(--white);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
    }
    .menu-btn-burger::before,
    .menu-btn-burger::after{
        content: '';
        position: absolute;
        width: 70px;
        height: 6px;
        background: var(--white);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
    }
    .menu-btn-burger::before{
        transform: translateY(-16px);
    }
    .menu-btn-burger::after{
        transform: translateY(16px);
    }
    header .navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #1A1A1A;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    header .navigation li a{
        margin: 10px 0;
        font-size: 3vh;
        font-weight: 300;
    }
    header.sticky{
        padding: 10px 40px 10px 40px;
       justify-content: space-between;
    }

    
    /* ANIMATION */
    .menu-btn.open .menu-btn-burger{
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    .menu-btn.open .menu-btn-burger::before{
        transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn-burger::after{
        transform: rotate(-45deg) translate(35px, 35px);
    }
    /* 1ST */
    .content .textBox h2, .content .textBox h1{
        text-align: center;
        font-size: 5vh;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
    .content .textBox p{
        font-size: 2vh;
    }
    .btn-p401{
        font-size: 2vh;
        display: block;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    section{
        padding: 0;
    }
    .content{
        flex-direction: column;
    }
    .content .textBox
    .content .imgBox{
        max-width: 100%;
    }
    header .navigation{
        display: none;
    }
    .content .textBox {
        max-width: 85vw;
        padding-left: 0;
    }

    .content .textBox img{
        width: 2.5vw;
    }
    header .logo{
        max-width: 25vw;
    }
    .sci{
        left: 40px;
    }
    .logo-404{
        width: 90vw;
    }
}
@media (max-width: 540px){
    .fs-0{
        font-size: 3rem;
    }
    header{
        padding: 30px 50px;
    }
    header .logo{
        max-width: 40vw;
    }

    .content .textBox h2, .content .textBox h1{
        margin-top: 0;
        font-size: 5vh;
    }
    .menu-btn{
        width: 50px;
        height: 50px;
    }
    .menu-btn-burger{
        width: 50px;
        height: 5px;
    }
    .menu-btn-burger::before,
    .menu-btn-burger::after{
        width: 50px;
        height: 5px;
    }
    .btn-p401{
        margin-bottom: 10vh;
        font-size: 2.3vh;
    }
    .content .textBox p{
        font-size: 2.3vh;
    }
   
    .desaparecer{
        display: none;
    }
    .texto-container{
        margin: auto;
        height: auto;
    }
    .circle{
        height: 32vw;
        width: 32vw;
    }
    .icon{
        width: 15vw;
    }
    .icon2{
        width: 10vw;
    }
    .title401{
        font-size: 5.5vh;
    }
    .decoration2{
        width: 1rem; 
    }
    .content .textBox img{
        width: 3vw;
    }
    .button-404{
        font-size: 3vh;
    }
    .form-text{
        font-size: 5vh;
    }
    .text-404{
        font-size: 4.7vh;
    }
    .slide-img{
        height: 65vh;
    }
    .circle-mobile-text p{
        margin: 0px 40px 40px 40px
        ;
    }

}